<h2 class="center w">Ember.js Calculator | Piyush Raj</h2>

<a href="{{rootURL}}0x48calc.html">{{stylish-button type="ujarak" border="thick" textWidth="thick" shape="round-s"  text="Bonus Task"}}</a>

{{calc-main}}
{{outlet}}
